@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --card-bg: #ffffff;
  --muted: #6b7280;
}

body {
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  background-color: #fbfbf9;
  color: #111827;
}

.card {
  @apply bg-white rounded-xl shadow-md overflow-hidden;
}

/* Smooth animations */
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.animate-spin {
  animation: spin 1s linear infinite;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
